<div role="main" class="main" id="Home">
    <div class="slider-container rev_slider_wrapper" style="height: 100vh;">
        <div id="header" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
            data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1170, 'gridheight': 1000, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }}">
            <ul>
                <li class="slide-overlay" data-transition="fade">
                    <img src="/views/assets/img/blank.gif" alt="" data-bgposition="center center" data-bgfit="cover"
                        data-bgrepeat="no-repeat" class="rev-slidebg">

                    <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%"
                        data-videoheight="100%" data-videomp4="/views/assets/video/memory-of-a-woman.mp4"
                        data-videopreload="preload" data-videoloop="loop" data-forceCover="1" data-aspectratio="16:9"
                        data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="false">
                    </div>

                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-18"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-1','-1','-1','-1']"
                        data-width="none" data-height="none" data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 400; color: #fbb606; letter-spacing: 0px;font-family:Open Sans;">
                        TRÊS MAIS TRÊS<p>
                            <span style="color:white;font-size:34px">A AGÊNCIA QUE CONECTA VOCÊ.</span></p>
                    </div>

                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-20"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none"
                        data-height="none" data-whitespace="nowrap" data-visibility="['off','off','on','on']"
                        data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 7; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 400; color: #fbb606; letter-spacing: 0px;font-family:Open Sans;">
                        TRÊS MAIS TRÊS </div>

                    <div class="tp-caption   tp-resizeme" id="slide-5-layer-21"
                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['93','93','93','93']"
                        data-width="none" data-height="none" data-whitespace="nowrap"
                        data-visibility="['off','off','on','on']" data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                        style="z-index: 8; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Open Sans;">
                        A AGÊNCIA QUE CONECTA VOCÊ. </div>

                    <a class="tp-caption slider-scroll-button" data-hash data-hash-offset="80" href="#QuemSomos" data-x="center"
                        data-y="bottom" data-voffset="['30','30','30','30']" data-start="1600"
                        data-transform_in="y:[100%];s:500;" data-transform_out="y:[100%];opacity:0;s:500;"
                        data-mask_in="x:0px;y:0px;" style="z-index: 5;"></a>

                    <div class="tp-dottedoverlay tp-opacity-overlay"></div>
                </li>
            </ul>
        </div>
    </div>

    <div id="QuemSomos" class="container appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
        <div class="row py-5 my-5">
            <div class="col-md-6 order-2 order-md-1 text-center text-md-left">
                <div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0"
                    data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="/views/assets/img/team/LEANDRO-RIBEIRO.jpeg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">LEANDRO RIBEIRO</h3>
                        <p class="text-2 mb-0">MARKETING</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="/views/assets/img/team/CIBELI-KOVIC.jpeg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">CIBELI KOVIC</h3>
                        <p class="text-2 mb-0">AUTOMAÇÃO</p>
                    </div>
                    <div>
                        <img class="img-fluid rounded-0 mb-4" src="/views/assets/img/team/BIANCA-GIMENES.jpeg" alt="" />
                        <h3 class="font-weight-bold text-color-dark text-4 mb-0">BIANCA GIMENES</h3>
                        <p class="text-2 mb-0">ATENDIMENTO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 text-center text-md-left mb-5 mb-md-0">
                <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">CONHEÇA <strong
                        class="font-weight-extra-bold">NOSSA EMPRESA</strong></h2>
                <p class="lead">Com mais de três anos atuando com marketing digital, nosso time é responsável pelo
                    crescimento de milhares de perfis pessoais e profissionais no Instagram.</p>
                <p class="lead">Nesse período adquirimos experiência para oferecer o melhor serviço de automação e garantir
                    a entrega de seguidores reais e segmentados.</p>

            </div>
        </div>
    </div>

    <div id="ComoFunciona" class="container">
        <div class="row text-center pt-5 pb-4 mt-5 mb-4">
            <div class="col-md-10 mx-md-auto">

                <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">NOSSO PROCESSO DE <strong
                        class="font-weight-extra-bold">SEGMENTAÇÃO</strong></h2>
                <p class="lead appear-animation mb-0" data-appear-animation="fadeInUpShorter"
                    data-appear-animation-delay="300">
                    A captação de seguidores é realizada de acordo com o público que você deseja atrair para o seu perfil.
                </p>
            </div>
        </div>
        <div class="row mb-lg-4">
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-list text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Opção de filtros</h4>
                        <p>Selecione seu público através de perfis de referência, localização, hashtag e gênero para obter
                            melhor desempenho.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-user-follow text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Seguir e deixar de seguir</h4>
                        <p>Com base nos filtros de segmentação, seu perfil seguirá alguns usuários diariamente e deixará de
                            segui-los no dia seguinte.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-paper-plane text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Mensagens automáticas</h4>
                        <p>Envie uma mensagem automática por Direct para quem começar a seguir o seu perfil, aumentando o
                            engajamento.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5 mb-5">
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-layers text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Visualização de Stories</h4>
                        <p>Com o objetivo de aumentar a interação com seu público, seu perfil será configurado para
                            visualizar stories automaticamente.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-like text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Curtidas automáticas</h4>
                        <p>As curtidas são feitas pelo seu perfil nas postagens dos usuários que o sistema segue,
                            possibilitando maior engajamento.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-people text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Lista de amigos</h4>
                        <p>Não se preocupe com as pessoas que você já segue, nosso sistema é configurado para não deixar de
                            segui-las.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="Planos" class="parallax section section-text-light section-parallax mt-0 mb-0" data-plugin-parallax
        data-plugin-options="{'speed': 1.5}" data-image-src="/views/assets/img/parallax/parallax-2.jpg">
        <div class="container py-5 my-5">
            <div class="row text-center">
                <div class="col-md-10 mx-md-auto">
                    <h2 class="text-color-dark font-weight-normal text-6 pb-1"
                        style="color: #fff !important; margin-top: -80px !important"><strong>INVESTIMENTO</strong></h2>
                </div>
            </div>

            <div class="pricing-table mb-4">
                <% for(let i = 0; i < product.length; i++) { %>
                    <div class="col-md-6 col-lg-3">
                        <div class="plan">
                            <div class="plan-header">
                                <h3><%= product[i].name.toUpperCase() %></h3>
                            </div>
                            <div class="plan-price">
                                <span class="price"><span class="price-unit">R$</span><%= (product[i].value / 100).toFixed(2).replace('.', ',') %></span>
                            </div>
                            <div class="plan-features">
                                <ul>
                                    <% for(let j = 0; j < product[i].options.length; j++) { %>
                                        <li><%= product[i].options[j].description %> <% if(product[i].options[j].hasCheck) { %><i class="fas fa-check" style="color: #fbb606;"></i><% } %></li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="plan-footer">
                                <a href="/finalizar-compra?plano=<%= product[i].name %>" style="color:#fff"
                                    class="btn btn-modern btn-primary btn-bottom">COMPRAR</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row text-center pt-5 pb-4 mt-5 mb-4">
            <div class="col-md-10 mx-md-auto">

                <h2 class="text-color-dark font-weight-normal text-6 mb-2 pb-1">SEGURANÇA E <strong
                        class="font-weight-extra-bold">GARANTIA</strong></h2>
            </div>
        </div>
        <div class="row mb-lg-4">
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-credit-card text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Pagamento</h4>
                        <p>A transferência de seu pagamento é realizada por uma plataforma terceirizada, totalmente segura e
                            criptografada. Nenhum dado financeiro é registrado em nosso sistema.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-lock text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Sigilo</h4>
                        <p>As informações de acesso ao seu perfil serão mantidas em absoluto sigilo, sendo possível você
                            alterá-las a qualquer momento caso seja necessário.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-speech text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Atendimento</h4>
                        <p>O nosso principal canal de atendimento é o Whatsapp, visando a agilidade na comunicação entre
                            você e nossos consultores.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-5 mb-5">
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInLeftShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-compass text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Consultor especializado</h4>
                        <p>Nossos consultores são especializados em Instagram, garantindo um atendimento e suporte rápido,
                            profissional e qualificado.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="fas fa-exclamation text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Política de cancelamento</h4>
                        <p>Você pode cancelar o serviço abrindo uma solicitação por um dos nossos canais de atendimento em
                            até 7 (sete) dias após a compra.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter"
                data-appear-animation-delay="300">
                <div class="feature-box feature-box-style-2">
                    <div class="feature-box-icon">
                        <i class="icons icon-badge text-color-primary"></i>
                    </div>
                    <div class="feature-box-info">
                        <h4 class="font-weight-bold mb-2">Garantia de entrega</h4>
                        <p>Caso o seu plano finalize e não tenha atingido a quantidade de seguidores contratado,
                            estenderemos o prazo sem custo adicional.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vc_row wpb_row pb-5 porto-inner-container">
        <div class="porto-wrap-container container">
            <div class="row">
                <div class="vc_column_container col-md-12 appear-animation fadeInRight appear-animation-visible"
                    data-appear-animation="fadeInRight" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <div class="wpb_wrapper vc_column-inner">
                        <div class="porto-faqs wpb_content_element ">
                            <h4 class="wpb_heading ">DÚVIDAS FREQUENTES</h4>
                            <div class="page-faqs clearfix m-t-lg">
                                
                        <div class="row">
                                <div class="col">
                                    <style>html .toggle-primary .toggle.active > label { color: #fff !important; }</style>
                                    <div class="toggle toggle-primary" data-plugin-toggle>
                                        <section class="toggle active">
                                            <label>Os seguidores são reais mesmo?</label>
                                            <p>Sim! Com a função de seguir e deixar de seguir garantimos ações de livre vontade dos seguidores para o seu perfil.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Preciso passar minha senha?</label>
                                            <p class="" style="height: 0px;">Sim, é necessário o login e senha pois o sistema de automação irá acessar o seu perfil para realizar todo o processo.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Posso postar fotos durante a automação?</label>
                                            <p class="" style="height: 0px;">Claro! Pode continuar publicando normalmente em seu perfil. Lembrando que quanto mais atrativo o conteúdo, melhor!</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Há algum contrato de fidelidade?</label>
                                            <p class="" style="height: 0px;">Não, você pode realizar o cancelamento a qualquer momento estando ciente que não podemos realizar reembolso caso o combinado esteja sendo entregue.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Alguém pode descobrir que contratei a Três mais Três?</label>
                                            <p class="" style="height: 0px;">Trabalhamos com sigilo absoluto, não iremos divulgar a sua contratação sem a sua autorização.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Posso curtir publicações normalmente?</label>
                                            <p class="" style="height: 0px;">Sim, com muito cuidado. Curtir muitas fotos enquanto a automação trabalha em seu perfil pode ultrapassar os limites de ações diárias acarretando o bloqueio temporário.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Se eu seguir alguns perfis manualmente, o sistema deixará de segui-los?</label>
                                            <p class="" style="height: 0px;">Quando quiser seguir um novo perfil pode estar informando diretamente para nosso suporte para que possam inseri-lo em uma lista de amigos.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Minha conta pode ser banida?</label>
                                            <p class="" style="height: 0px;">Trabalhamos dentro de todas as normas do Instagram. Qualquer ação que infrinja as normas do aplicativo corre o risco de sofrer punição.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Posso contratar sem ter publicações no perfil ainda?</label>
                                            <p class="" style="height: 0px;">Quanto mais atrativo o perfil, melhor. Por isso, aconselhamos que alimente seu perfil com conteúdos relevantes para iniciar a automação.</p>
                                        </section>
        
                                        <section class="toggle">
                                            <label>Como faço para contratar?</label>
                                            <p class="" style="height: 0px;">Pode estar entrando em contato com um de nossos atendentes através do WhatsApp (44) 9 9961-5662 para finalização de seu cadastro./p>
                                        </section>
                                    </div>
        
                                </div>
        
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Contato" class="vc_row wpb_row pb-5 porto-inner-container">
        <div class="porto-wrap-container container">
            <div class="row">
                <div class="vc_column_container col-md-6 appear-animation fadeInRight appear-animation-visible"
                    data-appear-animation="fadeInRight" data-appear-animation-delay="300" style="animation-delay: 300ms;">
                    <div class="wpb_wrapper vc_column-inner">
                        <div role="form">
                            <form id="form-send-message">
                                <h2 class="short"><strong>Mande uma mensagem</strong></h2>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group"><strong> <label>Nome</label><br>
                                                <input type="text" name="name" size="40" class="form-control" required
                                                    aria-required="true" aria-invalid="false"></strong></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"><strong> <label>Email</label><br>
                                                <input type="email" name="email" size="40" class="form-control" required
                                                    aria-required="true" aria-invalid="false"></strong></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group"><strong> <label>Assunto</label><br>
                                                <input type="text" name="subject" size="40" class="form-control"
                                                    aria-required="true" required aria-invalid="false"></strong></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group"><strong> <label>Mensagem</label><br>
                                                <textarea name="message" cols="40" rows="3" class="form-control" required
                                                    aria-invalid="false"></textarea></strong></div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" style="color: #fff" class="btn btn-primary btn-lg">Enviar
                                            mensagem</button>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $(document).ready(function () {
                                    $('#form-send-message').on('submit', function (e) {
                                        e.preventDefault()
                                        console.log('teste')
                                        $.ajax({
                                            type: 'POST',
                                            url: '/enviar-mensagem',
                                            datatype: 'html',
                                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                            data: $('#form-send-message').serialize(),   
                                            headers: {
                                                'X-CSRF-TOKEN': '<% if(locals.csrf) { %><%= locals.csrf %><% } %>'
                                            },
                                            success: function (result) {
                                                $('#form-send-message')[0].reset()
                                                alertify.notify(result, 'success', 5)
                                            },
                                            error: function (xhr, status, error) {
                                                if(error === 'Forbidden') return window.location.href = '/'
                                                alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                                            }
                                        })
                                    })
                                })
                            </script>
                        </div>
                    </div>
                </div>
                <div class="vc_column_container col-md-6">
                    <div class="wpb_wrapper vc_column-inner">
                        <h4 class="vc_custom_heading align-left"><strong>Entre em <strong>contato</strong></strong></h4>
                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p><strong>Entre em contato conosco, faça reclamações, sugestões
                                        ou tire suas dúvidas. Confira abaixo as formas de contato e os horários de
                                        funcionamento.</strong></p>
                            </div>
                        </div>
                        <h4 class="vc_custom_heading align-left"><strong>Atendimento e <strong>informações</strong></strong>
                        </h4>
                        <div class="feature-box feature-box-style-3">
                            <div class="porto-sicon-default">
                                <div id="porto-icon-11408691285d199b59ae93e" class="porto-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="porto-icon advanced "
                                            style="color:#fbb606;border-style:solid;border-color:#fbb606;border-width:1px;width:25px;height:25px;line-height:25px;border-radius:25px;font-size:12px;display:inline-block;">
                                            <strong> <i class="fas fa-map-marker-alt"></i></strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box-info">
                                <p><strong>Endereço: Avenida São Paulo, 1061 - Maringá (Paraná)</strong></p>
                            </div>
                        </div>
                        <div class="feature-box feature-box-style-3">
                            <div class="porto-sicon-default">
                                <div id="porto-icon-11408691285d199b59ae93e" class="porto-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="porto-icon advanced "
                                            style="color:#fbb606;border-style:solid;border-color:#fbb606;border-width:1px;width:25px;height:25px;line-height:25px;border-radius:25px;font-size:12px;display:inline-block;">
                                            <strong> <i class="fab fa-whatsapp"></i></strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box-info">
                                <p><strong>WhatsApp de vendas: (44) 9970-5662</strong></p>
                            </div>
                        </div>
                        <div class="feature-box feature-box-style-3">
                            <div class="porto-sicon-default">
                                <div id="porto-icon-11408691285d199b59ae93e" class="porto-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="porto-icon advanced "
                                            style="color:#fbb606;border-style:solid;border-color:#fbb606;border-width:1px;width:25px;height:25px;line-height:25px;border-radius:25px;font-size:12px;display:inline-block;">
                                            <strong> <i class="fab fa-whatsapp"></i></strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box-info">
                                <p><strong>WhatsApp de suporte: (44) 9 9999-5662</strong></p>
                            </div>
                        </div>
                        <div class="feature-box feature-box-style-3">
                            <div class="porto-sicon-default">
                                <div id="porto-icon-11408691285d199b59ae93e" class="porto-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="porto-icon advanced "
                                            style="color:#fbb606;border-style:solid;border-color:#fbb606;border-width:1px;width:25px;height:25px;line-height:25px;border-radius:25px;font-size:12px;display:inline-block;">
                                            <strong> <i class="fas fa-envelope"></i></strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box-info">
                                <p><strong>Email: contato@tresmaistres.com.br</strong></p>
                            </div>
                        </div>
                        <h4 class="vc_custom_heading align-left"><strong>Horários de atendimento</strong>
                        </h4>
                        <div class="feature-box feature-box-style-3">
                            <div class="porto-sicon-default">
                                <div id="porto-icon-11408691285d199b59ae93e" class="porto-just-icon-wrapper  ">
                                    <div class="align-icon" style="text-align:center;">
                                        <div class="porto-icon advanced "
                                            style="color:#fbb606;border-style:solid;border-color:#fbb606;border-width:1px;width:25px;height:25px;line-height:25px;border-radius:25px;font-size:12px;display:inline-block;">
                                            <strong> <i class="far fa-clock"></i></strong></div>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box-info">
                                <p><strong>Segunda - Sexta-feira: 9 às 18h</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>