<% if(user.permissions.home) { %>
    <link rel="stylesheet" href="/views/admin/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <button data-toggle="modal" data-target="#modal-add-order" class="btn btn-info pull-right">Adicionar pedido</button>
                    <h3 class="box-title">Transações / assinaturas</h3><br/>
                </div>
                <div class="box-body">
                    <table id="table-info" class="table table-bordered table-hover">
                        <style>
                            .no-sort::after {
                                display: none !important;
                            }

                            .no-sort {
                                pointer-events: none !important;
                                cursor: default !important;
                            }
                        </style>
                        <thead>
                            <tr>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th>#ID</th>
                                <th>Nome</th>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Status</th>
                                <th class="no-sort">Informações</th>
                                <th class="no-sort">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < orders.length; i++) { %>
                                <tr>       
                                    <td style="display: none;"><%= i + 1 %></td>  
                                    <td style="display: none;"><%= orders[i].buyer.documents.cpfOrCnpj %></td>
                                    <td style="display: none;"><%= orders[i].buyer.phone %></td>    
                                    <td style="display: none;"><%= orders[i].buyer.email %></td>    
                                    <td style="display: none;">
                                        <% if(orders[i].options && orders[i].options._idSegmentation) { %>
                                            <% for(let j = 0; j < segmentations.length; j++) { %>
                                                <% if(orders[i].options._idSegmentation == segmentations[j]._id) { %>
                                                    <% if(segmentations[j].status !== 'pendente') { %>
                                                        <%= segmentations[j].instagramProfile %>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    </td>   
                                    <td><%= orders[i]._id %></td>              
                                    <td><%= orders[i].buyer.name %></td>
                                    <td><%= orders[i].createdAt %></td>
                                    <td>R$<%= (orders[i].total / 100).toFixed(2).replace('.', ',') %></td>
                                    <td>
                                        <%
                                            let getIcon = null
                                            if(orders[i].origin === 'Facebook')
                                                getIcon = 'fa fa-facebook-official'
                                            else if(orders[i].origin === 'Google')
                                                getIcon = 'fa fa-google'
                                            else if(orders[i].origin === 'Email')
                                                getIcon = 'fa fa-envelope'
                                            else if(orders[i].origin === 'YouTube')
                                                getIcon = 'fa fa-youtube'
                                            else if(orders[i].origin === 'Instagram')
                                                getIcon = 'fa fa-instagram'
                                            else if(orders[i].origin === 'Renovação')
                                                getIcon = 'fa fa-repeat'
                                            else
                                                getIcon = 'fa fa-mail-forward'
                                        %>
                                        <% if(orders[i].status === 'paid') { %>
                                            <button style="letter-spacing: 2px;" class="btn btn-success btn-sm"><i class="<%= getIcon %>"></i>&nbsp;<% if(orders[i].paymentConfig.method === 'boleto') { %><i class="fa fa-barcode"></i><% } else if(orders[i].paymentConfig.method === 'credit_card') { %><i class="fa fa-credit-card"></i><% } else { %><i class="fa fa-money"></i><% } %>&nbsp;PAGO</button>
                                        <% } else if(orders[i].status === 'waiting_payment') { %>
                                            <button style="letter-spacing: 2px;" class="btn btn-default btn-sm"><i class="<%= getIcon %>"></i>&nbsp;<% if(orders[i].paymentConfig.method === 'boleto') { %><i class="fa fa-barcode"></i><% } else if(orders[i].paymentConfig.method === 'credit_card') { %><i class="fa fa-credit-card"></i><% } else { %><i class="fa fa-money"></i><% } %>&nbsp;AGUARDANDO</button>
                                        <% } else { %>
                                            <button style="letter-spacing: 2px;" class="btn btn-danger btn-sm"><i class="<%= getIcon %>"></i>&nbsp;<% if(orders[i].paymentConfig.method === 'boleto') { %><i class="fa fa-barcode"></i><% } else if(orders[i].paymentConfig.method === 'credit_card') { %><i class="fa fa-credit-card"></i><% } else { %><i class="fa fa-money"></i><% } %>&nbsp;CANCELADO</button>
                                        <% } %>                                    
                                    </td>
                                    <td style="letter-spacing: 4px; font-size: 17px;">
                                        <i <% if(orders[i].options && orders[i].options.interacion && orders[i].options.interacion.comment) { %>style="color: #4297b9"<% } %> class="fa fa-comments" data-toggle="tooltip" data-placement="top" title="Interação"></i>
                                        <% if(orders[i].options && orders[i].options._idSegmentation) { %>
                                            <% for(let j = 0; j < segmentations.length; j++) { %>
                                                <% if(orders[i].options._idSegmentation == segmentations[j]._id) { %>
                                                    <% if(segmentations[j].status !== 'pendente') { %>
                                                        <i style="color: #4297b9" class="fa fa-envelope" data-toggle="tooltip" data-placement="top" title="Segmentação"></i>
                                                    <% } else { %>
                                                        <i class="fa fa-envelope" data-toggle="tooltip" data-placement="top" title="Segmentação"></i>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        <% } else { %>
                                            <i class="fa fa-envelope" data-toggle="tooltip" data-placement="top" title="Segmentação"></i>
                                        <% } %>
                                        <i <% if(orders[i].options && orders[i].options.automation && orders[i].options.automation._idResponsible) { %>style="color: #4297b9"<% } %> class="fa fa-check-circle" data-toggle="tooltip" data-placement="top" title="Automação"></i>
                                        <i <% if(orders[i].origin === 'Renovação') { %>style="color: #4297b9"<% } %> class="fa fa-repeat" data-toggle="tooltip" data-placement="top" title="Renovação"></i>
                                        <i <% if(orders[i].options && orders[i].options.invoice) { %>style="color: #4297b9"<% } %> class="fa fa-file" data-toggle="tooltip" data-placement="top" title="Nota fiscal"></i>
                                    </td>
                                    <td><a href="/admin/detalhes-da-compra?id=<%= orders[i]._id %>" style="color: black; font-size: 17px;"><i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="Ver mais detalhes"></i></a></td>
                                </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th style="display: none;"></th>
                                <th>#ID</th>
                                <th>Nome</th>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Status</th>
                                <th>Informações</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-add-order">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adicionar pedido</h4>
                </div>
                <form id="form-add-order">
                    <div class="modal-body">
                        <b>Informações do cliente</b>          
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input id="phone" type="text" name="phone" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pessoa física ou jurídica?</label>
                                    <select id="selectDocument" name="typeDoc" class="form-control">
                                        <option value="pf" selected>Pessoa física</option>
                                        <option value="pj">Pessoa jurídica</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" id="cpf">
                                <div class="form-group">
                                    <label>Documento</label>
                                    <input id="cpf-input" type="text" placeholder="Digite o CPF" name="cpfOrCnpj" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6" id="cnpj" style="display: none;">
                                <div class="form-group">
                                    <label>Documento</label>
                                    <input id="cnpj-input" type="text" placeholder="Digite o CNPJ" name="cpfOrCnpj" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <b>Compra</b>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Produto</label>
                                    <select name="product" class="form-control">
                                        <option selected disabled>Selecione</option>
                                        <% for(let i = 0; i < product.length; i++) { %>
                                            <option value="<%= product[i]._id %>"><%= product[i].name.toUpperCase() %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Origem</label>
                                    <select name="origin" class="form-control">
                                        <option selected disabled>Selecione</option>
                                        <option>Renovação</option>
                                        <option>Facebook</option>
                                        <option>Google</option>
                                        <option>YouTube</option>
                                        <option>Instagram</option>
                                        <option>Google</option>
                                        <option>Email</option>
                                        <option>Outro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Valor total do pedido <span id="getValue"></span></label>
                                    <input id="value" type="number" min="0" step=".01" name="total" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <b>Pagamento</b>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Comprovante de pagamento</label>
                                    <input name="file" type="file" class="form-control" accept=".pdf, .jpg, .png, .jpeg" required>
                                    <small>Tamanho máximo: 15MB. Tipos aceitos: PDF, JPG, JPEG e PNG.</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Forma de pagamento</label>
                                    <select name="method" class="form-control">
                                        <option selected disabled>Selecione</option>
                                        <option value="credit_card">Cartão de crédito</option>
                                        <option value="boleto">Boleto</option>
                                        <option value="outro">Outro</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
                <script>
                    $(document).ready(function() {
                        $('#form-add-order').on('submit', function(e) {                        
                            $(document).ajaxStart(function() { Pace.restart() })
                            e.preventDefault()
                            
                            $.ajax({
                                type: 'POST',
                                url: '/admin',
                                enctype: 'multipart/form-data',
                                cache: false,
                                contentType: false,
                                processData: false,
                                data: new FormData($('#form-add-order')[0]),  
                                headers: {
                                    'X-CSRF-TOKEN': '<% if(locals.csrf) { %><%= locals.csrf %><% } %>'
                                },
                                success: function(result) {          
                                    alertify.notify(result, 'success', 5)
                                    setTimeout(function() { 
                                        window.location.reload()
                                    }, 500)
                                },
                                error: function(xhr, status, error) {
                                    if(error === 'Forbidden') return window.location.href = '/'
                                    alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                                }
                            })
                        })
                    })
                </script>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script src="/views/admin/assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/views/admin/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {  
            $("#value").keyup(function() {
                const value = Number(this.value)
                if(value.toString() === 'NaN') return alert('Valor inválido')
                if(value < 0) {
                    $("#getValue").html('')
                    return
                }
                
                $("#getValue").html('(R$' + value.toFixed(2).replace('.', ',') + ')')
            })

            $('#phone').mask('(00) 00000-0000')
            $('#cpf-input').mask('000.000.000-00', { reverse: true })
            $('#cnpj-input').mask('00.000.000/0000-00', { reverse: true })

            $('#selectDocument').on('change', function() {
                $('#cpf').hide()
                $('#cnpj').hide()
    
                document.getElementById('cpf-input').value = ''
                document.getElementById('cnpj-input').value = ''
    
                if($('#selectDocument option:selected').text() === 'Pessoa física') {
                    $('#cpf').show()
                } else if($('#selectDocument option:selected').text() === 'Pessoa jurídica') {
                    $('#cnpj').show()
                }
            })

            function updateMask(event) {
                let $element = $('#phone')
                $(this).off('blur')
                $element.unmask()
                if(this.value.replace(/\D/g, '').length > 10) {
                    $element.mask('(00) 0 0000-0000')
                } else {
                    $element.mask('(00) 0000-00009')
                }
                $(this).on('blur', updateMask)
            }
            $('#phone').on('blur', updateMask)   

            $('#table-info').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'language': {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            })
        })
    </script>
<% } %>