<link rel="stylesheet" href="/views/admin/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <button data-toggle="modal" data-target="#modal-add-product" class="btn btn-info">Adicionar produto</button>
            </div>
            <div class="box-body">
                <table id="table-info" class="table table-bordered table-hover">
                    <style>
                        .no-sort::after {
                            display: none !important;
                        }

                        .no-sort {
                            pointer-events: none !important;
                            cursor: default !important;
                        }
                    </style>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Público</th>
                            <th>Registro</th>
                            <th class="no-sort">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < products.length; i++) { %>
                            <tr>         
                                <td><%= products[i].name.toUpperCase() %></td>              
                                <td>R$<%= (products[i].value / 100).toFixed(2).replace('.', ',') %></td>
                                <td><% if(products[i].productPublic) { %>Sim<% } else { %>Não<% } %></td>
                                <td><%= products[i].createdAt %></td>
                                <td>  
                                    <form id="form-remove-product-<%= i %>">
                                        <a target="_blank" href="/finalizar-compra?plano=<%= products[i].name %>"><span class="btn badge bg-green">URL</span></a>
                                        <input type="hidden" name="productId" value="<%= products[i]._id %>">
                                        <a href="#" data-toggle="modal" data-target="#modal-edit-product-<%= i %>">
                                            <span class="btn badge bg-light-blue">Editar</span>
                                        </a>
                                        <button type="submit" class="btn badge bg-red">Remover</button>
                                    </form> 
                                    <script>
                                        $(document).ready(function() {
                                            $('#form-remove-product-<%= i %>').on('submit', function(e) {                        
                                                $(document).ajaxStart(function() { Pace.restart() })
                                                e.preventDefault()
                                                
                                                $.ajax({
                                                    type: 'DELETE',
                                                    url: '/admin/planos',
                                                    datatype: 'html',
                                                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                                    data: $('#form-remove-product-<%= i %>').serialize(),    
                                                    headers: {
                                                        'X-CSRF-TOKEN': '<% if(locals.csrf) { %><%= locals.csrf %><% } %>'
                                                    },
                                                    success: function(result) {          
                                                        alertify.notify(result, 'success', 5)
                                                        setTimeout(function() { 
                                                            window.location.reload()
                                                        }, 500)
                                                    },
                                                    error: function(xhr, status, error) {
                                                        if(error === 'Forbidden') return window.location.href = '/'
                                                        alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                                                    }
                                                })
                                            })
                                        })
                                    </script>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Público</th>
                            <th>Registro</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<% for(let i = 0; i < products.length; i++) { %>
    <div class="modal fade" id="modal-edit-product-<%= i %>">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar plano</h4>
                </div>
                <form id="form-edit-product-<%= i %>">
                    <input type="hidden" name="productId" value="<%= products[i]._id %>">
                    <div class="modal-body">          
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" name="name" value="<%= products[i].name %>" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Valor <span id="getValue-<%= i %>">(R$<%= (products[i].value / 100).toFixed(2).replace('.', ',') %>)</span></label>
                                    <input id="value-<%= i %>" type="number" name="value" value="<%= (products[i].value / 100).toFixed(2) %>" min="10" step=".01" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>O produto ficará visível na Home?</label>
                                    <select id="productPublic-<%= i %>" name="productPublic" class="form-control">
                                        <option <% if(products[i].productPublic) { %>selected<% } %> value="true">Sim</option>
                                        <option <% if(!products[i].productPublic) { %>selected<% } %> value="false">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <% if(products[i].options.length) { %>
                            <input type="hidden" name="hasDesc" value="true">
                            <div id="prodDesc-<%= i %>">
                                <hr>  
                                Descrições do produto      
                                <div class="row">
                                    <% for(let j = 0; j < products[i].options.length; j++) { %>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Descrição</label>
                                                <input type="text" name="description" value="<%= products[i].options[j].description %>" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Check?</label>
                                                <select name="hasCheck" class="form-control">
                                                    <option <% if(products[i].options[j].hasCheck) { %>selected<% } %> value="true">Sim</option>
                                                    <option <% if(!products[i].options[j].hasCheck) { %>selected<% } %> value="false">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 30px; font-size: 20px;">
                                            <a onclick="addAnotherDesc_<%= i %>()" style="color: #de3535;" href="javascript:void(0)"><i class="fa fa-plus-square"></i></a>
                                        </div>
                                    <% } %>
                                    <div id="duplicater-<%= i %>" style="display: none;">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Descrição</label>
                                                <input type="text" name="description" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Check?</label>
                                                <select name="hasCheck" class="form-control">
                                                    <option selected value="true">Sim</option>
                                                    <option value="false">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 30px; font-size: 20px;">
                                            <a onclick="addAnotherDesc_<%= i %>()" style="color: #de3535;" href="javascript:void(0)"><i class="fa fa-plus-square"></i></a>
                                        </div>
                                    </div>
                                    <div id="receiver-<%= i %>"></div>
                                </div>
                            </div>
                        <% } else { %>
                            <input type="hidden" name="hasDesc" value="false">
                            <div id="prodDesc-<%= i %>" style="display: none;">
                                <hr>  
                                Descrições do produto      
                                <div class="row">
                                    <div id="duplicater-<%= i %>">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Descrição</label>
                                                <input id="descOne-<%= i %>" type="text" name="description" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Check?</label>
                                                <select name="hasCheck" class="form-control">
                                                    <option selected value="true">Sim</option>
                                                    <option value="false">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="margin-top: 30px; font-size: 20px;">
                                            <a onclick="addAnotherDesc_<%= i %>()" style="color: #de3535;" href="javascript:void(0)"><i class="fa fa-plus-square"></i></a>
                                        </div>
                                    </div>
                                    <div id="receiver-<%= i %>"></div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Alterar</button>
                    </div>
                </form>
                <script>
                    <% if(products[i].options.length) { %>
                        function addAnotherDesc_<%= i %>() {
                            $('#duplicater-<%= i %>').show()
                            $('#duplicater-<%= i %>').children().clone().appendTo('#receiver-<%= i %>')
                            $('#duplicater-<%= i %>').hide()
                        }
                    <% } else { %>
                        function addAnotherDesc_<%= i %>() {
                            const duplicater = document.getElementById('duplicater-<%= i %>')
                            const holder = $('#descOne-<%= i %>').val()
                            $('#descOne-<%= i %>').val('')
                            const clone = duplicater.cloneNode(true)
                            const receiver = document.getElementById('receiver-<%= i %>')
                            receiver.appendChild(clone)
                            $('#descOne-<%= i %>').val(holder)
                        }
                    <% } %>

                    $(document).ready(function() {
                        $("#value-<%= i %>").keyup(function() {
                            const value = Number(this.value)
                            if(value.toString() === 'NaN') return alert('Valor inválido')
                            if(value < 10) {
                                $("#getValue-<%= i %>").html('')
                                return
                            }
                            
                            $("#getValue-<%= i %>").html('(R$' + value.toFixed(2).replace('.', ',') + ')')
                        })

                        $('#productPublic-<%= i %>').on('change', function() {
                            $('#prodDesc-<%= i %>').hide()
                            
                            if($('#productPublic-<%= i %> option:selected').text() === 'Sim') {
                                $('#prodDesc-<%= i %>').show()
                            }
                        })

                        $('#form-edit-product-<%= i %>').on('submit', function(e) {                        
                            $(document).ajaxStart(function() { Pace.restart() })
                            e.preventDefault()

                            $.ajax({
                                type: 'PUT',
                                url: '/admin/planos',
                                datatype: 'html',
                                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                                data: $('#form-edit-product-<%= i %>').serialize(),    
                                headers: {
                                    'X-CSRF-TOKEN': '<% if(locals.csrf) { %><%= locals.csrf %><% } %>'
                                },
                                success: function(result) {          
                                    alertify.notify(result, 'success', 5)
                                    setTimeout(function() { 
                                        window.location.reload()
                                    }, 500)
                                },
                                error: function(xhr, status, error) {
                                    if(error === 'Forbidden') return window.location.href = '/'
                                    alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                                }
                            })
                        })
                    })
                </script>
            </div>
        </div>
    </div>
<% } %>

<div class="modal fade" id="modal-add-product">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adicionar produto</h4>
            </div>
            <form id="form-add-product">
                <div class="modal-body">          
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Valor <span id="getValue"></span></label>
                                <input id="value" type="number" name="value" min="10" step=".01" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>O produto ficará visível na Home?</label>
                                <select id="productPublic" name="productPublic" class="form-control">
                                    <option selected disabled>Selecione</option>
                                    <option value="true">Sim</option>
                                    <option value="false">Não</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="prodDesc" style="display: none;">
                        <hr>  
                        Descrições do produto      
                        <div class="row">
                            <div id="duplicater">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input id="descOne" type="text" name="description" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Check?</label>
                                        <select name="hasCheck" class="form-control">
                                            <option selected value="true">Sim</option>
                                            <option value="false">Não</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top: 30px; font-size: 20px;">
                                    <a onclick="addAnotherDesc()" style="color: #de3535;" href="javascript:void(0)"><i class="fa fa-plus-square"></i></a>
                                </div>
                            </div>
                            <div id="receiver"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
            <script>
                function addAnotherDesc() {
                    const duplicater = document.getElementById('duplicater')
                    const holder = $('#descOne').val()
                    $('#descOne').val('')
                    const clone = duplicater.cloneNode(true)
                    const receiver = document.getElementById('receiver')
                    receiver.appendChild(clone)
                    $('#descOne').val(holder)
                }

                $(document).ready(function() {
                    $("#value").keyup(function() {
                        const value = Number(this.value)
                        if(value.toString() === 'NaN') return alert('Valor inválido')
                        if(value < 10) {
                            $("#getValue").html('')
                            return
                        }
                        
                        $("#getValue").html('(R$' + value.toFixed(2).replace('.', ',') + ')')
                    })

                    $('#productPublic').on('change', function() {
                        $('#prodDesc').hide()
                        
                        if($('#productPublic option:selected').text() === 'Sim') {
                            $('#prodDesc').show()
                        }
                    })

                    $('#form-add-product').on('submit', function(e) {                        
                        $(document).ajaxStart(function() { Pace.restart() })
                        e.preventDefault()
                        
                        $.ajax({
                            type: 'POST',
                            url: '/admin/planos',
                            datatype: 'html',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: $('#form-add-product').serialize(),    
                            headers: {
                                'X-CSRF-TOKEN': '<% if(locals.csrf) { %><%= locals.csrf %><% } %>'
                            },
                            success: function(result) {          
                                alertify.notify(result, 'success', 5)
                                setTimeout(function() { 
                                    window.location.reload()
                                }, 500)
                            },
                            error: function(xhr, status, error) {
                                if(error === 'Forbidden') return window.location.href = '/'
                                alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                            }
                        })
                    })
                })
            </script>
        </div>
    </div>
</div>

<script src="/views/admin/assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/views/admin/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-info').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'language': {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        })
    })
</script>